.pickup {
    padding: 41px 0;

    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    &__left {

        h2 {
            font-size: 18px;
            font-weight: 600;
            line-height: 51.2px;
            color: #292929;
        }

        &__text {
            width: 470px;
            p {
                margin-top: 10px;
                font-weight: 400;
                font-size: 16px;
                line-height: 20.8px;
                color: #292929;
            }
        }
    }

    &__right {
        img {
            margin-top: 100px;
        }
    }
}