.header-slice-container {
    background: #D4E9F9;
    position: relative;

    .mySwiper {
        width: 1170px;
        height: 100%;
        margin: 0 auto;

        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            height: 50px;
            gap: 14px;
            font-weight: 400;
        }

        .swiper-button-next,
        .swiper-button-prev {
            position: absolute;
            top: 38px;
            color: #000;
            width: 20px;
            height: 20px;
        }

        .swiper-button-next::after,
        .swiper-button-prev::after {
            font-size: 18px !important;
        }
    }
}