.oneItem {
    &__navigate {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        font-size: 16px;

        p {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }

        svg {
            margin: 0 10px;
            color: #6c757d;
        }
    }

    &__container {
        margin-top: 230px;
        display: flex;
        justify-content: space-around;
        background: #F7F7F7;
        padding: 50px 0;

        img.oneImg {
            width: 570px;
            height: 450px;
        }

        &__block {
            .oneTitle {
                font-weight: 600;
                font-size: 40px;
                color: #292929;
            }
        }
    }

    &__block {
        .oneTitle {
            font-weight: 600;
            font-size: 50px;
            color: #292929;
        }

        &__compound {
            width: 570px;
            padding: 28px;
            background: white;
            border: 1px solid #EDEDF0;

            h4 {
                font-weight: 600;
                font-size: 22px;
            }

            p {
                font-size: 17px;
                font-weight: 400;
                line-height: 22px;
                color: #353535;
            }
        }

        &__description {
            width: 570px;
            background: white;
            margin-top: 10px;
            border: 1px solid #EDEDF0;
            padding: 27px;

            h4 {
                font-weight: 600;
                font-size: 22px;
            }

            p {
                font-size: 17px;
                font-weight: 400;
                line-height: 22px;
                color: #353535;
            }
        }

        &__buy {
            display: flex;
            justify-content: space-between;
            width: 570px;
            height: 80px;
            padding: 15px 28px;
            background: white;
            border: 1px solid #EDEDF0;
            margin-top: 10px;

            a {
                text-decoration: none;
            }

            &__price {
                display: flex;
                flex-direction: column;
                align-items: center;

                .original-price {
                    text-decoration: line-through;
                    color: grey;
                }

                .discounted-price,
                .final-price {
                    color: #E7426A;
                    font-weight: bold;
                    font-size: 24px;
                }
            }

            button {
                width: 178px;
                height: 50px;
                background: #E7426A;
                color: white;
                font-size: 18px;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                border: none;
                border-radius: 5px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .oneItem__container {
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;

        img.oneImg {
            width: 100%;
            max-width: 450px;
            height: auto;
        }

        &__block {
            width: 100%;
            max-width: 570px;

            .oneTitle {
                font-size: 35px;
            }

            &__compound,
            &__description,
            &__buy {
                width: 100%;
            }

            &__buy {
                flex-direction: column;
                align-items: center;
                gap: 20px;

                &__price {
                    align-items: flex-start;
                }

                button {
                    width: 100%;
                    max-width: 250px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .oneItem__navigate {
        font-size: 14px;

        svg {
            margin: 0 5px;
        }
    }

    .oneItem__container {
        margin-top: 150px;

        img.oneImg {
            max-width: 100%;
        }

        &__block {
            .oneTitle {
                font-size: 2px;
            }

            &__compound h4,
            &__description h4 {
                font-size: 20px;
            }

            &__compound p,
            &__description p {
                font-size: 16px;
            }

            &__buy {
                padding: 10px 20px;

                &__price {
                    .discounted-price,
                    .final-price {
                        font-size: 20px;
                    }
                }

                button {
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .oneItem__navigate {
        font-size: 12px;

        svg {
            margin: 0 5px;
        }
    }

    .oneItem__container {
        margin-top: 100px;
        padding: 20px 10px;

        &__block {
            .oneTitle {
                font-size: 24px;
            }

            &__compound h4,
            &__description h4 {
                font-size: 18px;
            }

            &__compound p,
            &__description p {
                font-size: 14px;
            }

            &__buy {
                padding: 10px 10px;

                &__price {
                    .discounted-price,
                    .final-price {
                        font-size: 18px;
                    }
                }

                button {
                    width: 100%;
                    font-size: 14px;
                }
            }
        }
    }
}

@media (max-width: 350px) {
    .oneItem__navigate {
        font-size: 10px;
        svg {
            margin: 0 4px;
        }
    }

    .oneItem__container {
        margin-top: 80px;
        padding: 15px 5px;
        overflow: auto;

        img.oneImg {
            width: 100%;
            max-width: 300px;
            height: auto;
        }

        &__block {
            .oneTitle {
                font-size: 20px;
                overflow-wrap: break-word;
            }

            &__compound h4,
            &__description h4 {
                font-size: 16px;
                overflow-wrap: break-word;
            }

            &__compound p,
            &__description p {
                font-size: 12px;
                overflow-wrap: break-word;
            }

            &__buy {
                padding: 8px 10px;
                overflow: auto;

                &__price {
                    .discounted-price,
                    .final-price {
                        font-size: 16px;
                    }
                }

                button {
                    width: 100%;
                    font-size: 12px;
                }
            }
        }
    }
}
